// li.link {
//   color: white;
// }
// li.link.active {
//   color: #7c6a46;
// }
.header_scrolled_not_active {
  box-shadow: 0px 2px 4px rgba(40, 40, 40, 0.3);
  background: #fff;
  box-shadow: 0px 2px 4px rgba(40, 40, 40, 0.3);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0;
  transition: all 0.4s ease;
}
.header_scrolled_active {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}


li.link {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.5s all;
    background: #7c6a46;
  }
}
li.link.active {
  &::after {
    width: 100%;
  }
}

