@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=5aUu9-KzpRiLCAt4Unrc-xIKmCU5mEhkgo3FI_E8lH570oBdIw&skey=b20c8ebc9802c116&v=v21) format('woff2');
}

/* Sử dụng font family đã định nghĩa */
body {
  font-family:'Google Sans Text'; /* Sử dụng font 'MyCustomFont', nếu không có thì sử dụng Arial, nếu không có thì sử dụng font sans-serif mặc định */
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
